html {
  scroll-snap-stop: y mandatory;
}

.app {
  background-color: black;
  height: 100vh;
  display: grid;
  place-items: center;
}

.app__videos {
  position: relative;
  height: 600px;
  overflow: scroll;
  border-radius: 15px;
  width: 70%;
  max-width: 500px;
  scroll-snap-type: y mandatory;
}


